template(name='splash')
  .title benevolent.ninja
  // background
  .sun
  .hill
  .glare
  .ninja
    img(src='http://api.ning.com/files/bM1pkdMsPupAin*-M0HMupg---KEwj-wPpJ1zkKeFiff-MFqX8Ggu3ew*V6t5*yAOxhuiwuPw2DHpnpTuKcltVEApeBemIWR/ninja4.gif')
